.button-number {
    background-color: #cebe13;
    color: #020f1f;
    border: 5px solid #020f1f;
    border-radius: 15px;
    text-align: center;
    font-size:medium;
    padding: 15px 15px, 15px, 15px;
}

div{
    padding-top: 5px;
    padding-bottom: 5px;
}