.NumButton{
    background-color: aqua;
    border-style: solid;
    border-width: 1px;
    border-color: #46138f;
    border-radius: 5px;
    width: 45px;
    height: 45px;
}

.NumButton.Zero{
    width: 95px;
    height: 45px;
}